.mdl-layout-title{
    left: 44%;
    font-size: 200%;
}

#LoggedInAs {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 20px;
}

.mdl-layout__header{
    box-shadow: 0px 8px 8px grey;  
}

#qNameTimeContainer{
    position: absolute;
    top: 8%;
    left: 38.5%;
    width: 25%;
    height: 10%;
    box-shadow: 0px 8px 8px grey;
}

#qName{
    position: absolute;
    top:10%;
    left:2%;
    text-align: center;
}

#qName p{
    font-size: 120%;
    font-weight: bold;
}

#NameTfield{
    width:100%;
    box-shadow: 0px 2px 2px grey;
}

#qTime{
    position: absolute;
    top:10%;
    right: 2%;
    text-align: center;
}

#qTime p{
    font-size: 120%;
    font-weight: bold;
}

#TimeTfield{
    width:100%;
    box-shadow: 0px 2px 2px grey;
}

#qTypeContainer{
    position: absolute;
    top: 19%;
    left: 45.5%;
    width: 12%;
    height: 4%;
    box-shadow: 0px 8px 8px grey;
}

#qType{
    position: absolute;
    top:30%;
    left: 2%;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

#qType p{
    font-size: 100%;
    font-weight: bold;

}

#qTypeSelect{
    position: absolute;
    top:30%;
    right: 2%;
}

#qTopicContainer{
    position: absolute;
    top: 70%;
    left: 45%;
    width: 15%;
    height: 4%;
    box-shadow: 0px 8px 8px grey;
}

#qTopic{
    position: absolute;
    top:30%;
    left: 2%;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

#qTopic p{
    font-size: 100%;
    font-weight: bold;

}

#qTopicSelect{
    position: absolute;
    top:30%;
    right: 2%;
}

#AnswerContainer{
    position: absolute;
    top: 77%;
    left: 20%;
    width: 65%;
    height: 21%;
    background-color: lightgreen;
    box-shadow: 0px 8px 8px grey;
}

#AnswerTitle p{
    text-align: center;
    font-size: 130%;
    font-weight: bold;
}

#AnswerSelect{
    position: absolute;
    top: 18%;
    left: 41%;
}

#AnswerTextBox{
    position: absolute;
    top: 35%;
    left: 1%;
}

#UoaLogo {
    position: absolute;
    bottom: 0.2%;
    left: 0.2%; 
    height: 8%;
}