#logo {
    position: relative;
    display: block;
    margin: auto;
}

#Username {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    box-shadow: 0px 2px 2px grey;
}

#Password {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    box-shadow: 0px 2px 2px grey;
}

.mdl-button {
    position: relative;
    display: block;
    margin: auto;
    box-shadow: 0px 4px 5px grey;
}

#UoaLogo {
    position: absolute;
    top: 91.5%;
    left: 0.5%; 
    height: 8%;
}